body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos personalizados */
.background-title {
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
}

.background-title h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/* Ajuste de las imágenes */
.small-img {
    width: 50%; /* Puedes ajustar este valor según el tamaño que desees */
    height: auto;
    margin-bottom: 20px;
}