<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Weather Live</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Space Weather Live</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="/post_view">Ver Publicación</a></li> <!-- Enlace a la vista de publicación -->
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Contenido del índice -->
    </main>
    <footer>
        <p>Derechos de autor &copy; 2024 Space Weather Live</p>
    </footer>
</body>
</html>